{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{ shop.name }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'shop_detail.css' %}">
{% endblock %}

{% block container %}
    <div class="container">
        <div class="title">
            <h1>
                 <a href="detail/">
                     {{ shop.name }}
                 </a>
                 <a href="department/new/">
                    <input type="button" value="Create new department" class="btn btn-primary">
                </a>
                <a href="{% url 'shop_update' shop.id %}">
                    <input type="button" value="Update shop" class="btn btn-success">
                </a>
                <a href="delete/">
                    <input type="button" value="Delete shop" class="btn btn-danger">
                </a>
                <a href="compare/">
                    <input type="button" value="Compare department" class="btn btn-info">
                </a>
            </h1>
            <p>{{ shop.address }}</p>
        </div>
        <div class="info">
            <table>
            {% if shop.department_relate %}
                {% for dep in shop.department_relate.all %}
                    <tr>
                        <td colspan="4">
                            Department sphere: {{ dep.sphere }}
                            <a href="{{dep.id}}/item/new/">
                                <input type="button" value="Create new item" class="btn btn-primary">
                            </a>
                            <a href="{{dep.id}}/">
                                <input type="button" value="Show department" class="btn btn-info">
                            </a>
                            <a href="{{dep.id}}/update/">
                                <input type="button" value="Update department" class="btn btn-success">
                            </a>
                            <a href="{{dep.id}}/delete/">
                                <input type="button" value="Delete department" class="btn btn-danger">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Price</td>
                        <td>Comments</td>
                    </tr>
                    {% if dep.item_relate %}
                            {% for item in dep.item_relate.all %}
                                {% if item.is_sold %}
                                <tr class="sold_item">
                                    <td>
                                        {{ item.name }}
                                        <a href="{{dep.id}}/{{item.id}}/update">
                                            <input type="button" value="Update item" class="btn btn-success">
                                        </a>
                                        <a href="{{dep.id}}/{{item.id}}/delete">
                                            <input type="button" value="Delete item" class="btn btn-danger">
                                        </a>
                                        <a href="{{dep.id}}/{{item.id}}/">
                                            <input type="button" value="Show item" class="btn btn-info">
                                        </a>
                                    </td>
                                    <td>{{ item.description }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>
                                    {% if item.comments %}
                                        {% for comment in item.comments %}
                                            <p>{{ comment }}</p>
                                        {% endfor %}
                                    {% else %}
                                        <p>No comments</p>
                                    {% endif %}
                                    </td>
                                </tr>
                                {% else %}
                                 <tr>
                                    <td>
                                        {{ item.name }}
                                        <a href="{{dep.id}}/{{item.id}}/update">
                                            <input type="button" value="Update item" class="btn btn-success">
                                        </a>
                                        <a href="{{dep.id}}/{{item.id}}/delete">
                                            <input type="button" value="Delete item" class="btn btn-danger">
                                        </a>
                                         <a href="{{dep.id}}/{{item.id}}/">
                                            <input type="button" value="Show item" class="btn btn-info">
                                        </a>
                                    </td>
                                    <td>{{ item.description }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>
                                    {% if item.comments %}
                                        {% for comment in item.comments %}
                                            <p>{{ comment }}</p>
                                        {% endfor %}
                                    {% else %}
                                        <p>No comments</p>
                                    {% endif %}
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                    {% else %}
                        <p>No items</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No departments</p>
            {% endif %}
        </table>
    </div>
    </div>
{% endblock %}