<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ static_url("chat1.css") }}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content">
        <header>
            <h1>Chat rooms</h1>
        </header>
{#        <form action="" method="POST">#}
            <div class="card-img">
                 <div class="container">
                    <img src="{{ static_url("img/passport.png") }}" alt="Avatar" class="image" style="width:40%">
                    <div class="middle">
                        <input type="button" class="c-button" name="Chat" value="Join chat 1" style="font-family: 'Mohave', sans-serif;">
                    </div>
                </div>
                 <div class="container">
                    <img src="{{ static_url("img/passport.png") }}" alt="Avatar" class="image" style="width:40%">
                    <div class="middle">
                        <input type="button" class="c-button" name="Chat" value="Join chat 1" style="font-family: 'Mohave', sans-serif;">
                    </div>
                </div>
                                 <div class="container">
                    <img src="{{ static_url("img/passport.png") }}" alt="Avatar" class="image" style="width:40%">
                    <div class="middle">
                        <input type="button" class="c-button" name="Chat" value="Join chat 1" style="font-family: 'Mohave', sans-serif;">
                    </div>
                </div>
                                 <div class="container">
                    <img src="{{ static_url("img/passport.png") }}" alt="Avatar" class="image" style="width:40%">
                    <div class="middle">
                        <input type="button" class="c-button" name="Chat" value="Join chat 1" style="font-family: 'Mohave', sans-serif;">
                    </div>
                </div>
                 <div class="container">
                    <img src="{{ static_url("img/passport.png") }}" alt="Avatar" class="image" style="width:40%">
                    <div class="middle">
                        <input type="button" class="c-button" name="Chat" value="Join chat 1" style="font-family: 'Mohave', sans-serif;">
                    </div>
                </div>
                 <div class="container">
                    <img src="{{ static_url("img/passport.png") }}" alt="Avatar" class="image" style="width:40%">
                    <div class="middle">
                        <input type="button" class="c-button" name="Chat" value="Join chat 1" style="font-family: 'Mohave', sans-serif;">
                    </div>
                </div>
                 <div class="container">
                    <img src="{{ static_url("img/passport.png") }}" alt="Avatar" class="image" style="width:40%">
                    <div class="middle">
                        <input type="button" class="c-button" name="Chat" value="Join chat 1" style="font-family: 'Mohave', sans-serif;">
                    </div>
                </div>
            </div>
{#        </form>#}
    </div>
</body>
</html>