{% extends 'base.html' %}
{% load get_leader %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'form_success.css' %}">
{% endblock %}

{% block title %}
    Result of compare
{% endblock %}


{% block container %}
    <div class="title-main" style="text-align: center">
        <h1>Compare Departments</h1>
    </div>
    <table>
        {% if data  %}
            <thead>
                <tr>
                    <td>Clause</td>
                    <td>{{ department_1.sphere|upper }}</td>
                    <td>{{ department_2.sphere|upper }}</td>
                </tr>
            </thead>
            {% for clause, value in data.items %}
                <tr>
                    <td>{{ clause }}</td>
                    {% if value.0|default_if_none:0 >= value.1|default_if_none:0 %}
                        <td class="more_than_another">{{ value.0|default_if_none:0 }}</td>
                        <td>{{ value.1|default_if_none:0}}</td>
                    {% else %}
                        <td>{{ value.0|default_if_none:0 }}</td>
                        <td class="more_than_another">{{ value.1|default_if_none:0 }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            <br>
            <br>
            <hr/>
            <br>
            <br>
            {% get_leader department_1 department_2 "staff_amount" %}
            {% get_leader department_1 department_2 "total_sold_goods" %}
            {% get_leader department_1 department_2 "total_unsold_goods" %}
            {% get_leader department_1 department_2 "total_cost_goods" %}
            {% get_leader department_1 department_2 "count_sold_goods" %}
            {% get_leader department_1 department_2 "count_unsold_goods" %}
            {% get_leader department_1 department_2 "count_goods" %}
        {% else %}
        <tr>
            <td>
                <h1>You are not compare departments</h1>
            </td>
        </tr>
        {% endif %}
    </table>
{% endblock %}
