<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="content">
            <h1 class="currency_title">Converter currency</h1>
            <div class="form_currency">
                <form class="form_cur" action="" method="post">
                    <div class="selects_forms">
                        <div class="options">
                            <select name="currency_1">
                                {% if data %}
                                    {% for el in data['currency'] %}
                                    <option value={{ el }}>
                                        {{ el }}
                                    </option>
                                    {% endfor %}
                                {% else %}
                                    <p>ERROR NO CURRENCY</p>
                                {% endif %}
                            </select>
                            <a href="/">
                                <button type="button">
                                    <img id="img_con" src="/static/convert.png" alt="convert image">
                                </button>
                            </a>
                            <select name="currency_2" disabled style="appearance: none">
                                <option value="BYN">BYN</option>
                            </select>
                        </div>
                        <div class="change_currency">
                            <input type="number" min="0" max="1000000" step=".01" name="cur_val_1"
                                value="{{ data['cur_val_1'] }}">
                            <input type="number" min="0" max="1000000" step=".01" name="cur_val_2"
                                   disabled value="{{ data['cur_val_2'] }}">
                        </div>
                        <div class="button_container">
                            <div class="btn_convert">
                                <input type="submit" size="3" value="Convert">
                            </div>
                            <div class="btn_clear">
                                <a href="/change/">
                                    <input type="button" size="3" value="Clear">
                                </a>
                            </div>
                            <div class="btn_update">
                                <a href="/update/">
                                    <input type="button" size="3" value="Update currency">
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>