{% extends 'base.html' %}
{% load url_filter %}

{% block title %}
    Item detail
{% endblock %}


{% block container %}
    <div class="container">
        <h1>{{ item|url }}</h1>
        <p>{{ item.description }}</p>
        <p>{{ item.price }}</p>
        <p>{{ item.is_sold }}</p>
        {% for comment in item.comments  %}
            <p>{{ comment }}</p>
            {% empty %}
            <p>No comments</p>
        {% endfor %}
        <p>{{ item.department }}</p>
    </div>
{% endblock %}
