<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ shop.name }}</title>
</head>
<body>
    <h1>{{ shop.name }}</h1>
    <p>{{ shop.description }}</p>
    <table>
        {% if shop.department_relate %}
            {% for dep in shop.department_relate %}
                <tr>
                    <td colspan="4">Department id:{{ dep.id }}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Price</td>
                    <td>Comments</td>
                </tr>
                <tr>
                {% if dep.item_relate %}
                    {% for item in dep.item_relate %}
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.price }}</td>
                        {% comment %}
                        How to dispaly array in html
                        {% endcomment %}
                        <td>
                        {% if item.comments %}
                            {% for comment in item.comments %}
                                <p>{{ comment }}</p>
                            {% endfor %}
                        {% else %}
                            <p>No comments</p>
                        {% endif %}
                        </td>
                    {% endfor %}
                {% else %}
                    <p>No items</p>
                {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <p>No departments</p>
        {% endif %}
    </table>
</body>
</html>